/* Resetting browser defaults */
html, body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Basic Style - Font and Size */
body {
    font-family: arial, sans-serif;
    font-size: 13px;
}

/* Ensure that flex containers don't go over 100% */
*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }

header {
    color: white;
    background-color: #1f2937;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 80px;
}

#logo {
    font-weight: 900;
    font-size: 24px;
}

.block-one {
    background-color: #1f2937;
}

.block-one-flex {
    display: flex;
    padding: 80px;
    gap: 40px;
}

.flexone p, .flexone h1 {
    color: white;
}

img {
    height: 200px;
    width: auto;
    float: right;
}

.flexone {
    flex: 1;
}

#button-one {
    background-color: #3882f6;
    border: none;
    padding: 12px 24px;
    color: white;
    border-radius: 12px;
    margin-top: 14px;
}

#b2header {
    color: #1f2937;
    text-align: center;
    font-size: 28px;
    margin-top: 28px;
}

.spot-container {
    display: flex;
    gap: 30px;
    padding: 18px 80px;
}

.spotdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
}

.suit {
    height: 200px;
    width: 200px;
    border-radius: 12px;
}

.block-three {
    background-color: #e5e7eb;
    padding: 30px 80px;
}

#quote {
    font-style: italic;
    font-size: 22px;
    line-height: 200%;
}

#author {
    font-size: 22px;
    text-align: right;
    font-weight: bold;
}

.floating-block {
    background-color: #3882f6;
    margin: 50px 80px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
    color: white;
}

#cool-button {
    color: white;
    background-color: #3882f6;
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    margin-top: 14px;
    border: 2px solid white;
}

footer {
    color: white;
    background-color: #1f2937;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 60px;
    align-items: center;
}

footer p {
    font-style: italic;
    
}